html,
body {
  background: rgb(0, 134, 142);
  background: radial-gradient(circle, rgba(0, 134, 142, 1) 0%, rgba(0, 80, 173, 1) 100%);
  min-width: 500px;
}

header {
  color: #00868e;
  text-align: center;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Londrina Sketch', cursive;

}

#instructions {
  color: white;

}

.instruction {
  padding: 15px;
  margin: 10px 0;
  border-radius: 30px;
}

.plus {
  background-color: #f67280;
}

.moins {
  background-color: #ffa372;
}

.fini {
  background-color: #0c9463;

}





@media only screen and (max-width: 800px) {



  body {

    overflow-x: hidden !important;

  }

  main {
    width: 84%;

  }

  #main2 {
    width: 75%;
  }

  #container2 {
    width: 80%;
  }

  input,
  input::placeholder {
    font-size: 10px;
  }

  #header {}


  .instruction {
    font-size: 10px;
    max-width: 380px;

  }

  #pop {
    margin-left: 20px;
  }
}


/* #pop {
  width: 84%;
  margin-left: ;
} */